@page "{productId:guid}"
@model VHacksWebstore.Core.App.Pages.Webstore.Products.Reviews.CreateModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="Rating.Title"></label>
        <input asp-for="Rating.Title" />
    </div>
    <div class="form-group">
        <label asp-for="Rating.Rating"></label>
        <input asp-for="Rating.Rating" />
    </div>
    <div class="form-group">
        <label asp-for="Rating.Description"></label>
        <input asp-for="Rating.Description" />
    </div>
    <div class="form-group">
        <button type="submit"></button>
    </div>
</form>
