@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
            <p>You should generate a new set of recovery codes.</p>
        </div>
    }
    <form method="post" asp-page-handler="Generate">
        <button type="submit" class="btn btn-primary">Reset recovery codes</button>
    </form>

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary">Forget this browser</button>
        </form>
    }
    <form method="post" asp-page-handler="Remove">
        <button type="submit" class="btn btn-primary">Disable 2FA</button>
    </form>
}
<h5>Authenticator app</h5>
<p class="text-danger">Two-factor authentication relies on your email address. If you do not have access to your account's email address, do not enable 2FA.</p>
@if (!Model.Is2faEnabled)
{
    <form method="post" asp-page-handler="Enable">
        <button id="enable-authenticator" type="submit" class="btn btn-primary">Add authenticator app</button>
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}