@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>If you reset your authenticator key 2fa will be disabled until you reconfigure it.</strong>
    </p>
    <p>
        This process disables 2FA until you verify your email authenticator.
        If you do not reconfigure your email authenticator you may lose access to your account. If you want to disable 2FA, disable 2FA in the home screen.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator</button>
    </form>
</div>